@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&family=Roboto:wght@100&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif; 
    background-color: rgb(188, 195, 201);
}

.slide {
    height: 100%;
    width: 180px;
    position: absolute;
    text-align: left;
    background-color: rgb(235, 222, 205);
    transition: 0.5s ease;
    transform: translateX(-180px);
}

h1 {
    color: darkslategrey;
    font-weight: 800;
    text-align: right;
    padding: 10px 0;
    padding-right: 30px;
    pointer-events: none;
}

ul {
    padding-left: 0;
}

ul li {
    list-style: none;
}

ul li a {
    color: rgb(8, 58, 41);
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
    text-align: left;
    padding-left: 20px;
}

ul li a i {
    width: 40px;
    text-align: center;  
    vertical-align: middle;  
}

ul li:first-child a {
    padding-left: 23px; 
    display: flex;
    align-items: center;
}

ul li:hover ul.dropdown {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    background: rgb(235, 222, 205);
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    background: rgb(188, 195, 201);
}

input {
    display: none;
    visibility: hidden;
}

.toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 10px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: rgb(138, 132, 128);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: beige;
    border-radius: 50px;
    transition: 0.3 ease; 
}

.toggle .top_line {
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.toggle .middle_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.toggle .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}

input:checked ~ .toggle .top_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}

input:checked ~ .toggle .middle_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}

input:checked ~ .toggle .bottom_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}

input:checked ~ .slide {
    transform: translateX(0);
}

.spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner-container img {
    width: 300px; 
    height: 300px; 
    animation: spinner1 3s ease-in-out infinite;  
}

@keyframes spinner1 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.flashing-sentence {
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    line-height: 2;
    color: white;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    animation: flashText 1s linear infinite;
}

@keyframes flashText {
    0%, 49% {
        opacity: 0;
    }
    50%, 100% {
        opacity: 1;
    }
}
